<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Accueil</a>
                </li>

            </ul>

            <ul class="mr-0 navbar-nav" >

                <li class="nav-item">
                    {% if app.user is not null %}
                        {% if app.user.role == "ROLE_JOB_SEEKER" %}
                            <span class="notification-custom">0</span>
                            <a class="nav-link bg-blue-lite rounded" href="{{ path('profil_detail_cv') }}">
                                <i class="fas fa-bell" ></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </li>

                <li class="nav-item">
                   {% if app.user is not null %}
                       {% if app.user.role == "ROLE_JOB_SEEKER" %}
                           <a class="nav-link  " href="{{ path('profil_detail_cv') }}">
                             {{ app.user.fullName }}
                               <i class="fas fa-user" ></i>
                           </a>
                       {% endif %}
                       {% if  app.user.role == "ROLE_COMPAGNIE" %}
                           <a class="nav-link" href="{{ path('app_compagnie_index') }}">
                               <i class="fas fa-user" ></i> {{ app.user.fullName }}
                               <i class="fas fa-arrow-down" ></i>
                           </a>

                       {% endif %}
                    {% endif %}
                </li>

            </ul>

        </div>
    </div>
</nav>
