{% extends "base.html.twig" %}

{% block body %}

    <section class="row container-fluid">
        <div class="col-md-3" >
            <div class="card shadow position-fixed mt-2 mb-2 h-100" style="width: 300px;background-color: #e0dada"></div>
        </div>
        <div class="col-md-9">
            <div class="mt-2 mb-3 p-4">
                <h1 class="detail-profil-title" >Plus de {{ pagination.getTotalItemCount }} CV disponibles</h1>
            </div>
            <div class="d-flex flex-wrap justify-content-md-center justify-content-lg-center justify-content-sm-start">
                {% for user in users %}
                    <a  href="{{ path("app_show_cv",{id:user.id}) }}"  class="mb-5 p-2 text-decoration-none">
                        <div class="card shadow" style="width: 18rem;height: 100%">
                            <img src="{{ user.picture }}"
                                 class="card-img-top" height="250px" width="250px" alt="...">

                            <div class="card-body">
                                <p class="card-user-name">{{ user.fullName }}</p>
                                <h5 class="card-title pt-2 text-dark fw-bold " style="opacity: 0.9">{{ user.profileTitle }}</h5>
                                <p class="card-text pb-4 pt-2 ">
                                    {% for skill in user.skills %}
                                        <span class="badge bg-blue-lite text-color-blue-lite">{{ skill.name }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div  >{{ knp_pagination_render(pagination) }}</div>
        </div>
    </section>

{% endblock %}



