 <div class="card shadow bg-white" >
        <div class="card-body p-5">
            <div class="justify-content-between d-flex align-items-center  mb-5  flex-row" >
                <h4 class="competence-title">Experience</h4>
                <a href="{{ path('app_jobseeker_create_experience') }}" class="btn text-white detail-profil-btn bg-rose-dark">
                    Ajouter une experience
                </a>
            </div>

            {% for experience in user.experience %}
                <div class="card-body">
                    <h3 class="detail-profil-experience-title" >{{ experience.compagnieName }}</h3>
                    <h6 class="detail-profil-experience-subtitle" >{{ experience.posteOccupe }}</h6>
                    <h6 class="detail-profil-experience-subtitle" >{{ experience.dure }}</h6>
                    <p class="text-center text-justify" >
                       {{ experience.description | raw }}
                    </p>
                    <div class="dropdown-divider mt-5 mb-5" ></div>
                </div>
            {% endfor %}
        </div>
        </div>

