 <div class="card shadow bg-white" >
        <div class="card-body p-5">
            <div class="justify-content-between d-flex align-items-center  mb-5  flex-row" >
                <h4 class="competence-title">Experience</h4>
                <div class="" ></div>
                {% if app.user.id == user.id %}
                    <a href="{{ path('app_jobseeker_create_experience') }}" data-turbolinks="false" class="btn text-white detail-profil-btn bg-rose-dark">
                        Ajouter une experience
                    </a>
                {% endif %}
            </div>
            {% for experience in user.experience %}
                <div class="justify-content-between d-flex align-items-center  mb-5  flex-row" >
                    <h3 class="detail-profil-experience-title" >
                        <i class="far fa-building fs-1"></i>
                        {{ experience.compagnieName  | capitalize }}
                    </h3>
                      {% if app.user.id == user.id %}
                          <div class="fw-bold w-auto" >
                              <a href="{{ path('app_jobseeker_update_experience',{id:experience.id}) }}" data-turbolinks="false" class="p-2" > <i class="fa fa-edit" ></i> Editer</a>
                              <a href="{{ path('app_jobseeker_delete_experience',{id:experience.id}) }}" class="ml-2 text-danger" > <i class="fas fa-trash" ></i> Supprimer</a>
                          </div>
                        {% endif %}
                </div>
                <div class="card-body ml-3">
                    <h6 class="detail-profil-experience-subtitle" >{{ experience.posteOccupe | capitalize }} </h6>
                    <h6 class="detail-profil-experience-subtitle" >{{ experience.dure        | capitalize }}</h6>
                    <p class="text-justify fw-bold fs-4 description " >
                       {{ experience.description | raw }}
                    </p>
                    <div class="dropdown-divider mt-5 mb-5" ></div>
                </div>
            {% endfor %}
        </div>
        </div>

