
<header class="container-detail-profile shadow overflow-hidden p-5" >
    <div class="row">
        <div class="col-md-3">
            <div class="detail-profil-image " >
                <img src="{{ user.picture }}" class="img-fluid shadow" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="detail-profil-title">{{ user.fullName | capitalize }}</h1>
            <h4 class="detail-profil-sub-title">{{ user.profileTitle | capitalize }}</h4>
            <h6 class="title">Adresse <span class="fw-bold" >{{ user.address | capitalize }}</span></h6>
            <h6 class="title">Catégorie <span class="fw-bold" >{{ user.category.name }}</span></h6>
            <div class="card-group" >
                <div class="card" >
                    <div class="card-body p-0 bg-blue-dark" >
                        <p class="m-2 detail-profil-card-text text-white" >Expérience</p>
                        <p class="m-2 detail-profil-card-text fw-bold text-white " >
                            {% if user.experienceLevels == 1 %}
                                0-2 ans
                            {% elseif  user.experienceLevels == 2 %}
                                2-7 ans
                            {% elseif  user.experienceLevels == 3 %}
                                7ans et +
                            {% endif %}

                        </p>
                    </div>
                </div>
                <div class="card" >
                    <div class="card-body p-0  " >
                        <p class="m-2 detail-profil-card-text fw-bold " >Nombre de project</p>
                        <p class="m-2 detail-profil-card-text fw-bold " >{{ user.experience.count }}</p>
                    </div>
                </div>
                <div class="card" >
                    <div class="card-body p-0 " >
                        <p class="m-2 detail-profil-card-text fw-bold" >Niveau d'etude</p>
                        <p class="m-2 detail-profil-card-text fw-bold" >Bac +5</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" >

                {% if user.id == app.user.id %}
                    <a href="{{ path('profil_create_cv') }}" data-turbolinks="false" class="btn detail-profil-btn col-12 text-white bg-rose-dark" >
                        {% if  user.profileTitle is not null %} Modifier {% else %} Creer {% endif %}cv profil
                    </a>
                {% endif %}

                {% if app.user.role == "ROLE_COMPAGNIE" %}
                    {%  set i = 0 %}
                     {% for s in app.user.offers %}
                         {% set i = i+1 %}
                         {% if s.jobseekers.contains(user) and i <= 1 %}
                             <a href="#" disabled data-turbolinks="false" class="btn detail-profil-btn col-12 text-white bg-rose-dark" >
                                 Accepter
                             </a>
                         {% elseif s.jobseekers.contains(user) > 1 %}
                             <a href="#" data-turbolinks="false" class="btn disabled detail-profil-btn col-12 text-white bg-rose-dark" >
                                 Proposer un travail
                             </a>
                         {% endif %}
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</header>
