<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Job{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <style>
            .turbolinks-progress-bar{
                background: #1f348a !important;
                padding: 4px;
            }
        </style>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('/js/turboLink.js') }}" ></script>
        {% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}

        <div style="margin-top: 63px"></div>

        {% for label, messages in app.flashes(['success', 'danger','info']) %}
            {% for message in messages %}
                <div class="alert alert-{{label}} p-2 position-absolute mt-4 " style="right: 0" >
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>

</html>
